---
import Layout from "../layouts/Layout.astro";
import SkillSection from "@/components/skills-carousel/SkillSection.astro";

---

<Layout title="Lets work together!">
  <div class="h-[500vh] pt-96">

    <SkillSection/>
  </div>
</Layout>
