---
import Layout from "../layouts/Layout.astro";
import ContactForm from "@/components/contact-me/ContactForm";
import BackgroundCircle from "@/components/base-components/BackgroundCircle.astro";
---

<Layout title="Lets work together!">
  <div class="h-[500vh] pt-40">
    <div class = "relative">
      <div class="absolute -z-10">
        <BackgroundCircle size={800} gridSize={80} startX={100} startY={200}/>
      </div>
    </div>
      <ContactForm client:load/>
   
  </div>
  
</Layout>
