---
import Layout from "../layouts/Layout.astro";
import ContactFormIsland from "@/components/contact-me/ContactFormIsland";
import BackgroundCircle from "@/components/base-components/BackgroundCircle.astro";
---

<Layout title="Lets work together!">
  <div class="h-screen">
    <div class = "relative">
      <div class="absolute -z-10">
        <BackgroundCircle size={800} gridSize={80} startX={100} startY={200}/>
      </div>
    </div>
      <ContactFormIsland client:load/>
  </div>
  
</Layout>
