---
import Layout from "../layouts/Layout.astro";
---

<Layout title="All of my experiences!">
  <div class="h-[500vh]">
    <div class="h-10 bg-yellow-200">
      <div class="gradient-fade">
        <div class="bg-red-200">UNDER CONSTRUCTION</div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .gradient-fade {
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
  }
</style>
