---
import Layout from "../layouts/Layout.astro";
import BioHeader from "../components/home-page/BioHeader.astro";
import TimeLineSection from "../components/time-line/TimeLineSection.tsx";
interface ImageSchema {
  alt?: string;
  url: string;
}

interface ProjectSchema {
  date: string;
  technologies: Array<string>;
  shortDescription: string;
  primaryImage: ImageSchema;
}

interface DataSchema {
  data: {
    allProjects: Array<ProjectSchema>;
  };
}

const fetchData = async (): Promise<ProjectSchema[]> => {
  try {
    const response = await fetch("https://graphql.datocms.com/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
        Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
      },
      body: JSON.stringify({
        query: `
          query MyQuery {
            allProjects(orderBy: date_ASC) {
              date
              technologies
              shortDescription
              primaryImage {
                alt
                url
              }
            }
          }
        `,
      }),
    });

    if (!response.ok) {
      throw new Error(`Error: ${response.status} ${response.statusText}`);
    }

    const json: DataSchema = await response.json();
    return json.data.allProjects;
  } catch (error) {
    console.error("Failed to fetch data:", error);
    return []; // Return an empty array or handle the error appropriately
  }
};

const projects = await fetchData();
---

<Layout
  title="This is Home. Welcome!"
  description="Hello. Im Ryan Zhu, a computer science (CS) student at Carleton University."
>
  <div class="h-[1000vh]">
    <BioHeader />
    <TimeLineSection projects={projects} client:only="react" />
  </div>
</Layout>
