---
import Layout from "../layouts/Layout.astro";
import BioHeader from "../components/home-page/BioHeader.astro";
---

<Layout
  title="This is Home. Welcome!"
  description="Hello. Im Ryan Zhu, a computer science (CS) student at Carleton University."
>
  <div class="h-[1000vh]">
    <BioHeader />
  </div>
</Layout>
