---
// Props to accept width and height
export interface Props {
  width?: string;
}
const { width = "100"} = Astro.props;
---

<div style=`width: ${width}px;` class="relative">
    <div class="absolute mr-10 mt-2 left-0 right-0 top-1/4 transform -translate-y-1/2 text-2xl text-black lg:text-4xl xl:text-9xl xxl:text-[9rem] xxxl:text-[10rem]">
        <div class="flex font-Anderson">
            <div class="flex-1 text-center innerB">4</div>
            <div class="flex-1"></div>
            <div class="flex-1 text-center innerB">4</div>
        </div>
    </div>
    <div class="absolute mb-4 mr-10 left-0 right-0 bottom-1/4 transform translate-y-1/2 text-2xl text-black xl:text-9xl xxl:text-[9rem] xxxl:text-[10rem]">
        <div class="flex-1 font-Anderson text-center inner">0</div>
    </div>
    
<svg {width} viewBox="0 0 883 566" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_ddd_502_344)">
    <path d="M33.7284 10.0436C37.0147 9.00585 42.8955 7.88158 46.7007 7.53565C50.5059 7.18973 99.3682 6.93028 155.235 7.01676C211.103 7.01676 258.841 7.36269 261.176 7.70862C263.597 8.14103 266.105 8.48695 266.797 8.65992C267.489 8.83288 269.824 9.35177 271.986 9.95715C274.148 10.476 278.213 12.2922 281.067 13.8488C283.921 15.4055 287.466 18 288.937 19.6431C290.407 21.1998 292.655 24.2267 293.866 26.3887C295.077 28.5508 296.633 32.01 297.412 34.1721C298.104 36.3341 299.141 40.5717 299.747 43.6851C300.439 47.7497 300.785 69.4567 300.958 121.086C301.044 184.651 301.217 193.558 302.514 198.92C303.293 202.293 304.417 206.358 305.109 208.001C305.714 209.644 306.838 212.238 307.617 213.622C308.395 215.006 310.73 217.86 312.719 219.935C314.795 221.924 318.859 224.778 321.713 226.248C324.567 227.719 330.015 229.621 333.821 230.659C340.555 232.386 342.98 232.389 416.912 232.475L417.276 232.475C459.392 232.475 495.974 232.216 498.569 231.87C501.163 231.61 504.276 231.178 505.487 230.918C506.698 230.659 509.638 229.881 511.973 229.016C514.395 228.238 518.287 226.421 520.622 225.038C523.043 223.654 526.156 221.232 527.54 219.762C529.01 218.292 530.999 215.698 532.037 214.054C532.988 212.411 534.632 208.52 535.669 205.406C536.621 202.293 537.831 196.672 538.264 192.866C538.696 189.061 539.042 155.16 539.129 117.627C539.215 74.4727 539.561 47.2309 540.167 43.6851C540.685 40.5717 541.81 35.9017 542.761 33.3073C543.712 30.7128 545.355 26.9941 546.48 25.0915C547.604 23.1889 550.198 20.162 552.274 18.2594C554.35 16.4433 558.414 13.8488 561.268 12.5516C564.122 11.2544 569.397 9.52474 572.943 8.65992C578.91 7.27621 587.213 7.10324 681.046 7.01676C736.913 6.93028 786.553 7.18973 791.31 7.53565C796.153 7.88158 802.466 8.91936 805.579 9.95715C808.693 10.9949 813.103 12.8111 815.438 14.1083C817.773 15.4055 821.579 18.6053 823.914 21.1998C826.422 23.9672 828.93 27.9454 829.967 30.7128C830.919 33.3073 832.302 37.8043 833.081 40.6582C834.378 45.4147 834.551 55.7061 834.551 154.814C834.551 255.825 834.464 264.214 832.994 269.576C832.216 272.862 830.4 277.878 829.103 280.819C827.719 283.845 824.865 287.997 822.789 290.159C820.627 292.321 816.39 295.348 813.363 296.818C810.25 298.374 805.061 300.363 801.688 301.142C796.239 302.439 786.726 302.612 704.396 302.785C654.236 302.958 610.995 303.217 608.401 303.477C605.806 303.736 601.742 304.342 599.32 304.774C596.985 305.206 592.488 306.677 589.375 307.887C586.261 309.185 582.37 311.26 580.727 312.471C579.083 313.768 577.008 315.584 576.143 316.536C575.192 317.487 573.116 320.946 571.559 324.319C569.916 327.692 568.36 331.756 568.1 333.4C567.841 335.043 567.322 337.983 566.889 339.886C566.457 341.788 566.025 374.651 566.025 412.963C566.025 451.274 565.592 485.089 565.246 488.202C564.814 491.316 564.035 495.553 563.43 497.715C562.825 499.877 561.268 503.942 559.884 506.796C558.587 509.65 555.56 513.801 553.312 516.049C551.063 518.298 546.826 521.238 543.972 522.622C541.118 524.006 535.842 525.908 532.297 526.773C526.243 528.243 519.151 528.33 422.032 528.503C364.954 528.589 315.314 528.33 311.768 527.897C308.222 527.465 303.552 526.687 301.39 526.168C299.228 525.562 295.163 524.092 292.309 522.795C289.455 521.584 285.564 519.163 283.748 517.52C281.845 515.876 279.424 513.109 278.299 511.293C277.261 509.563 275.532 506.277 274.667 503.942C273.802 501.693 272.418 496.937 271.64 493.391C270.516 487.856 270.256 476.96 270.17 417.287C270.083 364.533 269.824 346.026 268.959 340.75C268.267 336.945 267.575 332.881 267.316 331.67C267.057 330.459 265.586 327.086 264.203 324.059C262.733 321.119 260.743 317.833 259.706 316.709C258.581 315.671 256.16 313.595 254.257 312.211C252.355 310.741 249.847 309.098 248.636 308.579C247.425 308.06 244.312 306.936 241.717 306.071C239.123 305.293 236.01 304.515 234.799 304.342C233.588 304.169 230.475 303.736 227.88 303.477C225.286 303.217 182.996 302.958 134.047 302.785C76.5369 302.612 43.4144 302.18 40.6469 301.661C38.3119 301.142 33.2095 299.499 29.4043 298.028C24.7343 296.212 21.1885 294.223 18.5076 291.715C16.3455 289.64 13.5781 286.267 12.3674 284.105C11.1566 281.943 9.34048 277.705 8.3027 274.592C7.3514 271.478 6.14065 266.03 5.70824 262.484C5.18935 258.679 4.92991 213.276 5.01639 151.355C5.18935 52.0738 5.27583 46.366 6.83251 40.2258C7.69733 36.6801 9.34048 31.7506 10.3783 29.4156C11.4161 26.9941 13.8375 23.3618 15.6537 21.2863C17.5563 19.1242 20.9291 16.1838 23.3506 14.7137C25.6856 13.2435 30.4421 11.1679 33.7284 10.0436Z" fill="url(#paint0_linear_502_344)"/>
    </g>
    <defs>
    <filter id="filter0_ddd_502_344" x="-100" y="-100" width="1083" height="765" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="3" dy="2"/>
      <feGaussianBlur stdDeviation="4"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_502_344"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="12" dy="8"/>
      <feGaussianBlur stdDeviation="7.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.09 0"/>
      <feBlend mode="normal" in2="effect1_dropShadow_502_344" result="effect2_dropShadow_502_344"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="28" dy="17"/>
      <feGaussianBlur stdDeviation="10"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
      <feBlend mode="normal" in2="effect2_dropShadow_502_344" result="effect3_dropShadow_502_344"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow_502_344" result="shape"/>
    </filter>
    <linearGradient id="paint0_linear_502_344" x1="562.882" y1="585.969" x2="430.275" y2="-26.4606" gradientUnits="userSpaceOnUse">
      <stop stop-color="#8DB9AA"/>
      <stop offset="1" stop-color="#ECF2E4"/>
    </linearGradient>
  </defs>
    </svg>
    
</div>
<style>
  .inner{
        background-color: #565656;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(141, 185, 170, 0.8);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .innerB{
        background-color: #565656;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(192, 215, 201, 0.8);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    
</style>