@font-face {
  font-family: "Anderson";
  src: url("/fonts/AndersonGrotesk.otf") format("opentype");
}
@font-face {
  font-family: "AndersonLight";
  src: url("/fonts/AndersonGrotesk-Light.otf") format("opentype");
}

@font-face {
  font-family: "AndersonBold";
  src: url("/fonts/AndersonGrotesk-Bold.otf") format("opentype");
}

@font-face {
  font-family: "AndersonBolder";
  src: url("/fonts/AndersonGrotesk-Ultrabold.otf") format("opentype");
}

@font-face {
  font-family: "AndersonBoldest";
  src: url("/fonts/AndersonGrotesk-Black.otf") format("opentype");
}
