@font-face {
  font-family: "Anderson";
  src: url("/fonts/AndersonGrotesk.otf") format("opentype");
}
@font-face {
  font-family: "AndersonLight";
  src: url("/fonts/AndersonGrotesk-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: lighter;
}

@font-face {
  font-family: "AndersonBold";
  src: url("/fonts/AndersonGrotesk-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "AndersonBolder";
  src: url("/fonts/AndersonGrotesk-Ultrabold.otf") format("opentype");
  font-weight: bolder;
  font-style: bolder;
}

@font-face {
  font-family: "AndersonBoldest";
  src: url("/fonts/AndersonGrotesk-Black.otf") format("opentype");
  font-weight: 900;
}
